MYSQL_URL=jdbc:mysql://my-agent-mysql:3306/online_mall?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
MYSQL_USERNAME=root
MYSQL_PASSWORD=2004momingqin
REDIS_HOST=online-mall-redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=1
OSS_ACCESS_KEY_ID=change_me
OSS_ACCESS_KEY_SECRET=change_me
